* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
  border-width: 3px;
  border-color: rgba(200, 200, 200, 0.5);
}

body {
  width: 100vw;
  background-color: rgb(245, 245, 245);
  overflow: scroll;
}
