.boxDefault {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 18%;
  padding-right: 3%;
}

.newsBox {
  width: 90%;
  height: 700px;
  background-color: rgb(106, 141, 116);
  border-width: 6px;
  border-color: rgba(34, 107, 71, 0.438);
  border-radius: 10px;
  border-style: solid;
  padding-top: 8%;
  text-align: left;
  position: absolute;
  top: 5%;
  left: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .newsBox {
    animation: tttt 1 0.8s linear;
  }
}

@keyframes tttt {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.newsTitle {
  height: 50px;
  font-size: calc(9px + 2vmin);
  font-weight: 900;
  margin-top: 2%;
  margin-left: 8%;
  padding-top: 15px;
  color: rgb(14, 57, 27);
}

.newsContent {
  width: 90%;
  height: 45%;
  margin-top: 5%;
  background-color: rgb(32, 72, 49);
  border: 2px solid rgb(16, 48, 7);
  border-radius: 0 50px 0 50px;
  margin-left: 6%;
  margin-right: 5%;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.summary {
  margin-bottom: 10%;
  font-weight: 550;
}

.A {
  text-align: left;
  margin-bottom: 5%;
  font-weight: 900;
}

.B {
  text-align: right;
  font-weight: 900;
}

.borderLine {
  height: 10px;
  width: 90%;
  margin-left: 6%;
  margin-right: 3%;
  background-color: none;
  font-size: 3.4vw;
  text-align: center;
}

.linkBox {
  margin-top: 10%;
  text-align: left;
  padding-left: 8%;
}

.linkBox > .linkToNews {
  display: block;
  margin-bottom: 10px;
}

.ìŒ {
  padding-left: 20%;
}
