* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 10;
}

.box {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  height: 110px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  /*box-shadow: 0 0 6px black;*/
  /*box-shadow: 0px 8px 0px 2px rgba(0, 0, 0, 0.7);*/
  margin-bottom: 25px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}

.box-component-image {
  height: 95px;
  width: 20%;
  z-index: 2;
}

.continue {
  box-shadow: none;
  background: linear-gradient(160deg, white, 60%, rgb(145, 191, 236));
  opacity: 0.5;
}

.continue {
  border-width: 2px;
}
.title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 70%;
  z-index: 2;
  transition: 0.3s;
}
.subBox {
  display: inline;
  font-size: 25px;
  font-weight: 350;
  transition: 0.3s;
  border-bottom: 0;
}

.clicked .subBox {
  border-bottom: 2px solid black;
}

.clicked .title {
  font-weight: 500;
}

.clicked {
  background: 0;
  border-color: black;
  border-width: 3px;
  animation: none;
  background: none;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  font-size: 20px;
  z-index: 0;
}

/*
@keyframes blinkling {
  0% {
    border-color: white;
  }

  50% {
    border-color: black;
  }
  100% {
    border-color: white;
  }
}
*/

.end {
  background: linear-gradient(160deg, white, 60%, rgb(168, 168, 168));
  opacity: 0.5;
}

.clicked > .continue {
  background: none;
  opacity: 1;
  background-color: rgb(145, 191, 236);
}

.clicked > .end {
  background: none;
  opacity: 1;
  background-color: rgb(168, 168, 168);
}

.frontcontinue:hover {
  cursor: pointer;
  animation: none;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  background-color: rgb(94, 147, 200);
}

.frontend:hover {
  cursor: pointer;
  animation: none;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  background-color: rgb(168, 168, 168);
}

.loading {
  margin-top: 150px;
  height: 200px;
  width: 300px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: rotate 10s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}


.front {
  z-index : 0;
}


.clicked .state {
  color: black;
  font-weight: 800;
}

.clicked .subtitle {
  color: black;
  font-weight: 800;
}

.clicked .term {
  color: black;
  font-weight: 800;
}



.box:hover > .front {
  left: 100%;
  opacity: 0;
}





*/
